MODEL_BASE_URL=http://127.0.0.1:1234/v1
MODEL_ID=local-model
MODEL_DEFAULT_TOKENS=8096
MODEL_MAX_TOKENS=128000
MODEL_TEMPERATURE=0.85
IMAGE_COMFY_BASE_URL=http://firestorm:8188
VIDEO_COMFY_BASE_URL=http://firestorm:8189
BUILD_SHA=development
PUBLIC_BUILD_SHA=development
BASE_PATH=
HOST=127.0.0.1
PORT=8781
BODY_SIZE_LIMIT=32M
